* {
  margin: 0;
  padding: 0;
}
body {
  width: 860px;
  margin: 0 auto;
  // background: #d3e6ee;
}

#main-title {
  font-family: 'Noto Serif JP', serif;
  margin-bottom: 100px;
  .title {
    text-align: center;
    font-size: 48px;
    padding: 20px;
    &:before {
      content: '';
      display: inline-block;
      width: 70px;
      height: 70px;
      background-image: url(fish.logo3のコピー.png);
      background-size: contain;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  & img {
    width: 100%;
  }
}
#item-info {
  font-family: 'Noto Serif JP', serif;
  .item-info-img {
    width: 100%;
    margin: 0 0 50px;
  }
  .rule-colors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
    .rule-color {
      width: 33%;

    }
  }
}
#points-wrapper {
  .point-title {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    font-size: 48px;
    padding-bottom: 80px;
    color: #ff0000;
  }
  .point {
    font-family: 'Sawarabi Mincho', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .point-img {
      width:50%;
      padding: 10px;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
    .point-message {
      width: 50%;
      padding: 10px;
      margin: auto;
      h3 {
        padding: 5px 0;
      }
      p {
        padding: 10px;
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}
#attension {
  width: 80%;
  margin: 0 auto 300px;
  .attension-title {
    color: #f00;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .attension-message {
    background: #fff;
    padding: 30px;
    border: 3px dotted #000;

    p {
      padding: 0 0 50px;
      &:last-child {
        padding: 0;
      }
    }
  }
  .request {
    margin: 30px 0;
  }
}
#purchase-info {
  .purchase-img {
    float: left;
    width: 40%;
    img {
      width: 100%;
    }
  }
  .purchase-message {
    margin: 0 20px 0 400px;
    .free-shipping {
      font-weight: 600;
      font-size: 18px;
    }
    dl {
      padding: 30px 0;
      line-height: 50px;
      & span {
        color: #f00;
        font-size: 30px;
        font-weight: 600;
      }
      dt {
        float: left;
      }
      dd {
        margin-left: 100px;
      }
    }
    .shipping {
      margin: 0 60px;
      padding: 20px 40px;
      border: 2px solid #000;
      background: #fff;
      display: inline-block;
      .free {
        color: #f00;
        float: left;
        font-size: 22px;
      }
      .delivery {
        margin-left: 120px;
        font-size: 14px;
        .detail {
          padding-top: 50px;
          & a {
            text-decoration: none;
            color: #6f99f3;
          }
        }
      }
    }
    .shipping-plan {
      color: #f00;
      margin: 30px auto 20px 60px;  
    }
    .select-item {
      p {
        margin-bottom: 20px;
      }
      table {
        border-collapse: collapse;
        background: #fff;
        line-height: 40px;
        width: 70%;
        text-align: center;
        tr {
          th {
            border: 1px solid #000;
          }
          td {
            border: 1px solid #000;
          }
        }
      }
    }
    .confirms {
      .confirm {
        margin-bottom: 20px;
        span {
          font-size: 14px;
        }
      }
    }
    .number {
      font-size: 20px;
    }
    & >input {
      height: 50px;
    }
    .buttons {
      .bg-red {
        margin-bottom: 20px;
        & button {
          font-size: 16px;
          width: 200px;
          margin: 10px 0;
          border: 0;
          background: #ce0505;
          line-height: 30px;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
      .bg-white {
        margin-bottom: 50px;
        & button {
          background: #fff;
          width: 180px;
          border: 1px solid #000;
          span {
            color:#ce0505;
          }
          a {
            color: #000;
            text-decoration: none;
          }
        }
      }
      p {
        a {
          text-decoration: none;
          color: #5586ee;
          font-size: 14px;
          line-height: 30px;
        }
      }
      .post, .share {
        background: #fff;
        padding: 0 10px;
        display: block;
        border: 1px solid #000;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      .post {
        margin-top: 50px;
      }
      .share {
        margin: 10px 0 100px;
      }
    }
  } 
}
